@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #3c4652;
}

.break {
    clear: both;
}

.navbar-white {
    background: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    width: 90% !important;
    margin-top: 10px !important;
    margin-left: 5%;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    font-size: 23px;
    font-weight: bold;
}

#particles-js {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.red-text {
    color: #C50000;
}

.dark-text {
    color: #535461;
}

.sapaan {
    font-size: 60px;
    font-weight: bold;
}

.content-heading {
    font-size: 35px;
}

.content-text {
    font-size: 25px;
}

.intro-info {
    font-size: 35px;
}

.list {
    list-style: none;
}

#intro {
    margin-top: 5%;
}

#intro>img {
    width: 50%;
}

#vending-machine {
    margin: 10% 0;
}

.vending>img {
    width: 100%;
}

.tutorial-img-1 {
    display: none;
}

.tutorial-img-1>img {
    border-radius: 20px;
}

.spacing {
    height: 200px
}

.teams {
    align-items: center;
}

.z-index-999 {
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .navbar {
        background: white;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }

    .navbar-nav {
        padding-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        font-weight: bold;
    }

    .navbar-white {
        width: 100% !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    #intro {
        margin-top: 20%;
    }

    #intro>img {
        width: 100%;
    }

    #vending-machine {
        margin: 30% 0 15% 0;
    }

    .sapaan {
        font-size: 25px;
        margin: 0;
    }

    .intro-info {
        font-size: 20px;
    }

    .tutorial-img-1 {
        display: block;
        margin-bottom: 20px;
    }

    .tutorial-img-1>img {
        border-radius: 10px;
    }

    .tutorial-img-2 {
        display: none;
    }

    .vending {
        margin-bottom: 20px;
        text-align: center;
    }

    .vending>img {
        width: 50%;
    }

    .content-heading {
        font-size: 20px;
    }

    .content-text {
        font-size: 17px;
    }

    .teams {
        margin-top: 20px;
        align-items: start;
    }

    .spacing {
        height: 100px;
    }
}